@model IEnumerable<SCORE.Models.Exercicio>

@{
    ViewData["Title"] = "Index";
}

<h1>Exercícios</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Criar Novo Exercício</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Unidade Curricular
            </th>
            <th>
                Descrição
            </th>
            <th>
                Data de Entrega
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Titulo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descricao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataEntrega)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.IdExercicio" class="btn btn-secondary">Edit</a>
                    @*<a asp-action="Details" asp-route-id="@item.IdExercicio">Details</a> |*@
                    <a asp-controller="Exercicios" asp-action="Submissoes" class="btn btn-secondary">Submissões</a>
                    <a asp-action="Upload" class="btn btn-secondary">Submeter</a>
                    <a asp-action="Delete" asp-route-id="@item.IdExercicio" class="btn btn-danger">Delete</a>
            </tr>
        }
    </tbody>
</table>

<style>
    .table {
        border-bottom: none;
    }
</style>

