@model IEnumerable<SCORE.Models.AlunoEquipa>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdTurma)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdEquipaNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NmecanograficoAlunoNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdTurma)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdEquipaNavigation.IdEquipa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NmecanograficoAlunoNavigation.NmecanograficoAluno)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdAlunoEquipa">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdAlunoEquipa">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdAlunoEquipa">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
