@model IEnumerable<SCORE.Models.TurmaUc>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>  @*asp-controller="Turmas"*@
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Turma
            </th>
            <th>
                Unidade Curricular
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdTurmaNavigation.Numero)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdUcNavigation.Nome)
            </td>
            <td>
                 <a asp-action="Edit" asp-controller="Turmas" asp-route-id="@item.IdUc">Edit</a>
                @*<a asp-action="Edit" asp-route-id="@item.IdTurmaUc">Edit</a> *@|
                <a asp-action="Details" asp-route-id="@item.IdTurmaUc">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdTurmaUc">Delete</a>
                <a asp-controller="Campeonatos" asp-action="Index" asp-route-id="@item.IdTurma">Campeonato</a>
            </td>
        </tr>
}
    </tbody>
</table>
