@model IEnumerable<SCORE.Models.Uc>

@{
    ViewData["Title"] = "Index";
}

<h1>Unidades Curriculares</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Nova Unidade Curricular</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="table-row @(Model.LastOrDefault() == item ? "last-row" : "")">
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @*<a asp-action="Edit" asp-route-id="@item.IdUc" class="btn btn-primary">Edit</a>*@
                    @*<a asp-action="Details" asp-route-id="@item.IdUc">Details</a>*@
                    @*<a asp-action="Delete" asp-route-id="@item.IdUc" class="btn btn-danger">Delete</a>*@
                    <a asp-controller="TurmaUcs" asp-route-id="@item.IdUc" asp-action="Index" class="btn btn-secondary">Turmas</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<style>
    body {
        background-color: #34495e;
    }

    h1 {
        color: #fff;
    }

    .table {
        background-color: #fff;
        border-radius: 10px;
        padding-left: 5rem;
    }

    .last-row {
        border-bottom: none;
    }

    .btn {
        margin-right: 5px;
    }
</style>
